body {
    background-color: rgb(7, 65, 122);
    width: auto;
    min-height: 100vh;
    font-family: arial, 'Times New Roman', Times, serif;
    margin: 0;
}

/* Barra lateral de navegação */
aside {
    position: fixed;
    z-index: 3;
}

/* Irá fazer a tag de botão desaparecer para melhor interface */
#sidebar_button[type="checkbox"] {
    display: none;
}

/* A barra lateral move para direita e aparece quando o botão receber click */
#sidebar_button[type="checkbox"]:checked ~ #sidebar_container {
    transform: translateX(300px);
}

/* Label para a imagem ícone da barra lateral */
#label_sidebar_button {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

/* Ícone do menu */
#menu_icon {
    width: 50px;
    cursor: pointer;
}

/* Navegação da barra lateral */
#sidebar_container {
    background-color: rgba(16, 16, 16, 0.5);
    position: absolute;
    width: 300px;
    left: -300px;
    height: 100vh;
    transition: all 0.5s;
    overflow: auto;
}

/* Lista (ul) da bara lateral  */
#ul_sidebar {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 70px;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Links da lista da navegação  */
.url_sidebar {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 5px;
}

/* Efeito para quando o mouse passar encima do link  */
.url_sidebar:hover {
    background-color: rgb(200, 250, 245);
    color: black;
}

/* Bloco de webkit do cursor da barra lateral  */

/* width scrollbar ou largura do scroll da barra lateral */
#sidebar_container::-webkit-scrollbar {
    width: 9px;
}
  
/* Track ou fundo da barra lateral */
#sidebar_container::-webkit-scrollbar-track {
    background: black; 
}
   
/* Handle ou cursor da barra lateral */
#sidebar_container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}
  
/* Handle on hover ou cursor da barra lateral quando segurado */
#sidebar_container::-webkit-scrollbar-thumb:hover {
    background: white;
}


/* Header  */
header {
    background-color: black;
    position: fixed;
    box-shadow: 0 5px 10px 0;
    width: 100%;
    border-radius: 3px;
    z-index: 2;
}

h1 {
    color: white;
}

/* Nome da empresa do site  */
#company_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: inherit;
}


/* Coneúdo principal  */

main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 80px;
}

#text_container {
    display: flex;
    flex-direction: column;
    width: 360px;
}


/* Slider inicial */

/* Propriedades do bloco de slider  */
#slider_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 50px 0 0 200px;
}

/* Todo o texto do slider, incluindo título */
#text_slider_container {
    display: flex;
    flex-direction: column;
    width: 360px;
}

/* Parágrafo do slider  */
#initial_slider_text {
    color: white;
}


#slider {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

#slides {
    width: 400%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    position: relative;
    transition: 2s;
    /* animation-name: slide_rotate;
    animation-delay: 6s;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-direction: reverse; */
}

.slide img {
    width : 350px;
    height: 350px;
    border-radius: 3px;
}

/* @keyframes slide_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */


/* CARROSSEL DE ITENS POPULARES  */

/* Divisão para bloco da página */
#popular_carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

/* Retângulo de corte do carrossel para visualização */
#popular_items{
    width: 1084px;
    padding: 20px;
    margin: 0 25px;
    overflow: hidden;
}

/* Título da seção */
.title_row {
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Botão de navegação de lados do carrosséis  */
.navigation_buttons {
    width: 50px;
    height: 154px;
    cursor: pointer;
    margin-top: 50px;
}

/* Lista dos itens  */
.carousel_popular_items {
    /* original width laptop: 1024p */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 4416px;
    transition-duration: 2s ;
}

/* Link do item */
.item_container {
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-right: 20px;
}

/* Dados do produto */
.item_box {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
}

/* Imagem do item  */
.item_img {
    width: 225px;
    height: 224px;
    padding: 10px 7.5px;
}

/* Dados em texto do item  */
.item_data {
    padding-left: 2%;
}

/* Preço original do item (se estiver em promoção) */
.original_price {
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: row;
}

/* Linha de preço atual e porcentagem de desconto  */
.price_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;    
}

/* Preço atual do item  */
.item_price {
    color: black;
    max-width: 120px;
    padding-right:5px;
    margin: 2px 0;
}

/* Porcentagem de desconto  */
.percentage_off {
    color: red;
    margin: 2px 20px;
}

/* Número de parcelas e o valor das parcelas  */
.price_divison{
    color: red;
    margin: 2px 0;
}

/* Nome do item  */
.item_name {
    color: black;
    margin: 20px 0;
    overflow: hidden;
}

/* CLASSES PARA MOVER O POPULAR CARROSSEL  */

/* Classe do primeiro lado do carrossel */
.popular_items_carousel_side_1 {
    /* OBS: O margin-left será os width anteriores, mais 20px por cada lado */
    /* anterior em relação ao lado do carrossel que o usuário irá  */
    margin-left: 0;
}

/* Classe do segundo lado do carrossel */
.popular_items_carousel_side_2 {
    /* Soma do tamanho do width do lado anterior, mais 20px */
    /* da margin-right do último item do lado anterior  */ 
    margin-left: -1104px;
}

/* Classe do terceiro lado do carrossel */
.popular_items_carousel_side_3 {
    /* Soma do tamanho do width dos 2 lados anteriores, mais 40px */
    /* (20px + 20px) por ser 2 lados anteriores */
    margin-left: -2208px;
}

/* Classe do quarto lado do carrossel */
.popular_items_carousel_side_4 {
    /* Soma do tamanho do width dos 2 lados anteriores, mais 40px */
    /* (20px + 20px) por ser 2 lados anteriores */
    margin-left: -3312px;

}

/* FIM POPULAR ITENS  */



/* CATEGORIES  */

#categories {
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: row;
    width: 950px;
    height: 225px;
    border-radius: 150px;
    padding: 10px 5px 42px 5px;
    margin: 45px 20px;
}

#categories_carousel{
    width: 850px;
    margin: 0;
    overflow: hidden;
}

.carousel_categories {
    /* original width laptop: 1024p */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 4396px;
    transition-duration: 2s ;
} 

.categories_box {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.categories_icons {
    width: 150px;
    border-radius: 75px;
    margin: 0 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.categorie_name {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

/* BLOCO DE CLASSES PARA MOVER O CARROSSEL  */

.categories_carousel_side_1 {
    margin-left: 0;
}

.categories_carousel_side_2 {
    margin-left: -850px;
}

.categories_carousel_side_3 {
    margin-left: -1700px;
}


/* Decorations Section */

/* Propriedades do container de decorações */
#decorations_container {
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    border-radius: 10px;
}

/* Secção para as decorações para o lado de fora da casa  */
#decorations_outside {
    text-align: center;
    margin-right: 100px;
}

/* Secção para as decorações para o lado de dentro da casa  */
#decorations_inside {
    text-align: center;
    margin-left: 100px;
}

/* Título da categoria  */
.category_type_title {
    color: white;
}

/* Alinha os elemtos de produtos */
.decoration_categories_container {
    display: flex;
    flex-direction: row;
}

/* Container individual de produto  */
.decoration_categorie {
    margin: 5px 10px;
}

/* Configura tamanho de imagem  */
.decor_category_image {
    max-width: 220px;
    height: 220px;
    size: relative;
    border-radius: 2px;
}

/* Nome da categoria ou nome do produto */
.decoration_category_name {
    color: white;
    text-align: center;
}




/* Footer  */

footer {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    top: 180px;
}

#footer_content_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_content {
    text-align: center;
}

.copyright_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    margin-top: 35px;
    width: auto;
}

.dividing_row {
    background-color: white;
    height: 1px;
    width: 700px;
}

/* FIM FOOTER */