body {
    background-color: rgb(7, 65, 122);
    position: relative;
    width: auto;
    min-height: 100vh;
    font-family: arial, 'Times New Roman', Times, serif;
    margin: 0;
}

aside {
    place-self: start ;
    display: flex;
    position: fixed;
    z-index: 3;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 80px;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

/* Barra lateral com webkit */

#menu_icon {
    width: 50px;
    cursor: pointer;
}

/* Propriedades da barra lateral */
#sidebar_container {
    background-color: rgba(16, 16, 16, 0.5);
    position: absolute;
    width: 300px;
    left: -300px;
    height: 100vh;
    transition: all 0.5s;
    overflow: auto;
}

/* Propriedades da lista (ul) da bara lateral  */
#ul_sidebar {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 70px;
    padding: 0;
}

/* width scrollbar ou largura do scroll da barra lateral */
#sidebar_container::-webkit-scrollbar {
    width: 9px;
}
  
/* Track ou fundo da barra lateral */
#sidebar_container::-webkit-scrollbar-track {
    background: black; 
}
   
/* Handle ou cursor da barra lateral */
#sidebar_container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}
  
/* Handle on hover ou cursor da barra lateral quando segurado */
#sidebar_container::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* Irá fazer o botão desaparecer para melhor interface */
#sidebar_button[type="checkbox"] {
    display: none;
}

/* Fará com que a barra lateral apareça na tela quando o botão receber click */
#sidebar_button[type="checkbox"]:checked ~ #sidebar_container {
    transform: translateX(300px);
}

.url_sidebar {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 5px;
}

.url_sidebar:hover {
    background-color: rgb(200, 250, 245);
    color: black;
}

#label_sidebar_button {
    padding: 15px;
    position: absolute;
    z-index: 1;
}


/* Header  */

/* Propriedades do header  */
#top_row {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    box-shadow: 0 5px 10px 0;
    width: 100%;
    border-radius: 3px;
    z-index: 2;
}

#company_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: inherit;
}

#text_container {
    display: flex;
    flex-direction: column;
    width: 360px;
}

/* CONTAINER DO PRODUTO  */

#product_container {
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 30px;
    margin-top: 70px;
    border-radius: 10px;
}

#other_images_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

#box_main_image {
    overflow: hidden;
    width: 580px;
    height: 480px;
    cursor: zoom-in;
}

#main_image {
    transform-origin: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#images_product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#atual_price {
    margin-top: 50px;
}

#buy_button {
    background-color: rgb(0, 0, 0);
    color: white;
    border-style: none;
    cursor: pointer;
    margin: 40px 0 0 0;
    padding: 10px;
    border-radius: 5px
}

#add_cart {
    background-color: rgb(0, 0, 0);
    color: white;
    border-style: none;
    cursor: pointer;
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 5px
}

.alternative_images {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.alternative_images_1 {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.product_img {
    width: 580px;
    height: 480px;
}

.product_initial_description {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 50px;
}

.separator {
    background-color:rgba(255, 255, 255, 0.731);
    width: 100%;
    height: 1px;
    margin-top: 20px;
}

.aditional_info {
    margin-top: 30px;
    width: 480px;
    max-height: 167px;
    overflow-y: auto;
}


/* FIM CONTAINER PRODUTO  */

/* CLASS AD  */

.ad {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    position: relative;
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 150px;
    margin: 50px 0 50px 0;
}

/* FIM CLASS AD  */

/* RECOMENDADOS */

.popular_carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.popular_items{
    width: 1084px;
    padding: 20px;
    margin: 0 25px;
    overflow: hidden;
}

.title_row {
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.navigation_buttons {
    width: 50px;
    height: 154px;
    cursor: pointer;
    margin-top: 50px;
}

.carousel_popular_items {
    /* original width laptop: 1024p */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 4416px;
    transition-duration: 2s ;
}

.item_container {
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-right: 20px;
}

.item_box {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
}

.item_img {
    width: 225px;
    height: 224px;
    padding: 10px 7.5px;
}

.item_data {
    padding-left: 2%;
}

.original_price {
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: row;
}

.price_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;    
}

.item_price {
    color: black;
    max-width: 120px;
    padding-right:5px;
    margin: 2px 0;
}

.percentage_off {
    color: red;
    margin: 2px 20px;
}

.price_divison{
    color: red;
    margin: 2px 0;
}

.item_name {
    color: black;
    margin: 20px 0;
    overflow: hidden;
}

/* CLASSES PARA MOVER O POPULAR CARROSSEL  */

.medium_carousel_side_1 {
    /* OBS: O margin-left será os width anteriores, mais 20px por cada lado */
    /* anterior em relação ao lado do carrossel que o usuário irá  */
    margin-left: 0;
}

.medium_carousel_side_2 {
    /* Soma do tamanho do width do lado anterior, mais 20px */
    /* da margin-right do último item do lado anterior  */ 
    margin-left: -1104px;
}

.medium_carousel_side_3 {
    /* Soma do tamanho do width dos 2 lados anteriores, mais 40px */
    /* (20px + 20px) por ser 2 lados anteriores */
    margin-left: -2208px;
}

.medium_carousel_side_4 {
    /* Soma do tamanho do width dos 2 lados anteriores, mais 40px */
    /* (20px + 20px) por ser 2 lados anteriores */
    margin-left: -3312px;

}

/* FIM RECOMENDADOS */



/* FICHA TÉCNINA  */

.details {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    width: 1080px;
    max-height: 740px;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}



/* FOOTER  */

#footer_box {
    background-color: black;
    color: white;
    width: 100%;
    height: 300px;
    place-self: baseline normal;
    padding-top: 50px;
    margin-top: 100px;
}

#footer_content_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_content {
    text-align: center;
}

.copyright_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    margin-top: 35px;
    width: auto;
}

.dividing_row {
    background-color: white;
    height: 1px;
    width: 700px;
}